<div class="container">
	<br> <br> <br> 
	<h1>Listado de Solicitudes</h1>
	<table class="table table-bordered table-striped">
		<tr>
			<th>Nombre solicitante</th>
			<th>Correo electronico</th>
			<th>Responsable</th>
			<th>Solicitud</th>
			<th>Tipo</th>
			<th>Responder</th>
		</tr>
		<tr ng-repeat="solicitud in solicitudes">
			<td>{{solicitud.cliente.nombre}}</td>
			<td>{{solicitud.cliente.correo}}</td>
			<td>{{solicitud.empleado.nombre}}</td>
			<td>{{solicitud.texto}}</td>
			<td>{{solicitud.tipo}}</td>
			<td ng-if="solicitud.respuesta == null"><a class="btn btn-primary" ng-click="responder(solicitud)" >Responder</a></td>
			<td ng-if="solicitud.respuesta != null">{{solicitud.respuesta}}</td>	
		</tr>
	</table>
</div>